<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
	<div class="container">
		<a class="navbar-brand" href="{% url 'index' %}">BiblioGestor</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					{% url 'index' as url %}
					<a class="nav-link {% if request.path == url %}active{% endif %}"
					   href="{{ url }}">Inicio</a>
				</li>
				<li class="nav-item">
					{% url 'socios/index' as url %}
					<a class="nav-link {% if request.path == url %}active{% endif %}"
					   href="{{ url }}">Socios</a>
				</li>
				<li class="nav-item">
					{% url 'libros/index' as url %}
					<a class="nav-link {% if request.path == url %}active{% endif %}"
					   href="{{ url }}">Inicio</a>
				</li>
				<li class="nav-item">
					{% url 'prestamos/index' as url %}
					<a class="nav-link {% if request.path == url %}active{% endif %}"
					   href="{{ url }}">Préstamos</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
