<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_fragments/head.html" %}

	<title>Inicio - Gestor bibliotecas</title>
</head>
<body class="d-flex flex-column min-vh-100">
{% include "_fragments/header.html" %}

<main class="flex-grow-1 container py-3">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endif %}

	<form method="GET" class="col-12 col-md-8 mx-auto my-5" id="formulario-busqueda">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Buscar libros, autores y socios"
				   name="query"
				   value="{{ query }}"
				   aria-label="Buscar"
				   aria-describedby="button-addon2">

			<button type="button" class="btn bg-transparent"
					style="margin-left: -45px; z-index: 100;"
					id="btn-limpiar-busqueda">
				<i class="bi bi-x-lg"></i>
			</button>

			<button class="btn btn-primary" type="submit">Buscar</button>
		</div>
	</form>

	{% if socios.count > 0 %}
		<h2 class="text-center mt-3">Socios</h2>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>DNI</th>
				<th>Estado</th>
				<th>Nombre</th>
				<th>Apellidos</th>
			</tr>
			</thead>
			<tbody>
			{% for socio in socios %}
				<tr>
					<th>{{ socio.dni }}</th>
					<td>
						{% if socio.bloqueado_hasta != None %}
							<span class="badge text-bg-danger">Bloqueado</span>
						{% elif socio.avisos_penalizacion >= 1 %}
							<span class="badge text-bg-warning">{{ socio.avisos_penalizacion }} avisos</span>
						{% else %}
							<span class="badge text-bg-success">Correcto</span>
						{% endif %}
						<span class="badge text-bg-secondary">
							{{ socio.prestamos_activos }} prestamos
						</span>
					</td>
					<td>{{ socio.nombre }}</td>
					<td>{{ socio.apellidos }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if libros.count > 0 %}
		<h2 class="text-center mt-5">Libros</h2>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Código</th>
				<th>Título</th>
				<th>Autor</th>
				<th>ISBN</th>
			</tr>
			</thead>
			<tbody>
			{% for libro in libros %}
				<tr>
					<th>{{ libro.codigo }}</th>
					<td>{{ libro.titulo }}</td>
					<td>{{ libro.autor }}</td>
					<td>
						{{ libro.isbn|slice:"0:3" }}-{{ libro.isbn|slice:"3:12" }}-{{ libro.isbn|slice:"12:" }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<script>
		document.getElementById("btn-limpiar-busqueda").addEventListener("click", e => {
			document.querySelector("input[name=query]").value = "";
			document.getElementById("formulario-busqueda").submit();
		});
	</script>
</main>

{% include "_fragments/footer.html" %}
</body>
</html>