<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_fragments/head.html" %}

	<title>Préstamos - Gestor bibliotecas</title>
</head>
<body class="d-flex flex-column min-vh-100">
{% include "_fragments/header.html" %}

<main class="flex-grow-1 container py-3">
	<table class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>ID</th>
			<th>Libro</th>
			<th>Socio</th>
			<th>Fecha de inicio</th>
			<th>Fecha límite devolución</th>
			<th>Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for prestamo in prestamos %}
			<tr>
				<th>
					{{ prestamo.id }}
				</th>
				<td>
					{{ prestamo.libro.codigo }} - {{ prestamo.libro.titulo }}
				</td>
				<td>
					<a href="{% url 'socios_perfil' dni=prestamo.socio.dni %}">
						{{ prestamo.socio.nombre }} {{ prestamo.socio.apellidos }}
					</a>
				</td>
				<td>{{ prestamo.fecha_prestamo }}</td>
				<td class="fw-bold {% if prestamo.pendiente_tarde %}text-danger{% else %}text-success{% endif %}">{{ prestamo.fecha_devolucion }}</td>
				<td>
					<a href="" class="">Devolver</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</main>

{% include "_fragments/footer.html" %}
</body>
</html>